<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ /reservaties/404.html [L]
</IfModule>

ErrorDocument 404 /reservaties/404.html
